<div class="sign-up-content">
  <mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title class="title">Registro para Clientes nuevos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field class="form-field">
          <input matInput placeholder="Usuario" id="username" name="username" required formControlName="username">
          @if (isInvalidControl(form, 'username')) {
            <mat-error>{{ errorMessagesForControl(form, 'username')}}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Contraseña" id="password" name="password" type="password" required formControlName="password">
          @if (isInvalidControl(form, 'password')) {
            <mat-error>{{ errorMessagesForControl(form, 'password')}}</mat-error>
          }
        </mat-form-field>
        <mat-button-toggle class="button">Registrarse</mat-button-toggle>
      </form>
    </mat-card-content>
  </mat-card>
</div>
