<body>
<header class="header">
  <h1 class="header-title">¡BIENVENIDO A LA MESA DE GRYFFINDOR!</h1>
</header>
<section>
  <mat-card class="mat-card">
    <mat-card-title class="title"><strong> Haz tu reserva fácilmente </strong></mat-card-title>
    <mat-card-content class="subtitle">Para hacer una reserva, primero <strong>Regístrate</strong> o <strong>Inicia sesión</strong></mat-card-content>
    <mat-card-content>
      <mat-button-toggle class="mat-button-toggle" [routerLink]="['/sign-up']">Registrarse</mat-button-toggle>
      <mat-button-toggle class="mat-button-toggle" [routerLink]="['/sign-in']">Iniciar sesión</mat-button-toggle>
    </mat-card-content>
  </mat-card>
  <div class="image-gallery">
    <img class="plato1" src="assets/images/Plato01.png">
    <img class="plato2" src="assets/images/Plato02.png">
    <img class="plato3" src="assets/images/Plato03.png">
    <img class="plato4" src="assets/images/Plato04.png">
  </div>
</section>
<footer class="footer">
  <h2>LA MESA DE GRYFFINDOR TE ESPERA</h2>
  <p>MADE BY +TURDEVS ENTERPRISES</p>
</footer>
</body>
