<body>
<header class="header">
  <h1 class="header-title">¡BIENVENIDO A LA MESA DE GRYFFINDOR!</h1>
</header>
<section>
  <mat-card class="mat-card">
    <mat-card-title class="title"><strong> Haz tu reserva fácilmente </strong></mat-card-title>
    <mat-card-content class="subtitle">Para hacer una reserva, primero <strong>Regístrate</strong> o <strong>Inicia sesión</strong></mat-card-content>
    <mat-card-content>
        <mat-button-toggle class="mat-button-toggle">Registrarse</mat-button-toggle>
        <mat-button-toggle class="mat-button-toggle">Iniciar sesión</mat-button-toggle>
    </mat-card-content>
  </mat-card>
</section>
<footer class="footer">
  <p>¡¡¡LA MESA DE GRYFFINDOR TE ESPERA!!!</p>
</footer>
</body>


